@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body{
    background:rgb(10, 10, 70);
}

h1{
    font-family: 'Press Start 2P';
    color:rgb(200, 181, 157);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2;
}

#box-container{
    display: grid;
    place-content: center;
    /* transform: translateX(2%); */
    grid-template-columns:170px 170px;
    grid-template-rows:150px 150px;
    width:auto;
}

.box{
    height: 120px;
    width: 120px;
    border:3px solid black;
    border-radius: 16px;
}

.green{
    background:green;
}

.red{
    background:red;
}

.yellow{
    background:yellow;
}

.blue{
    background:blue;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over{
    background:red;
}